# Игнорировать все файлы с расширением .pyc
*.pyc

# Игнорировать все папки __pycache__ и их содержимое
__pycache__/

# Игнорировать все скомпилированные файлы в папке migrations
users/migrations/*.pyc