<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB тест</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tests/ab_test.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <form id="toolbar">
        <a href="{% url 'create_test' %}">Назад</a>
        {% if user_role == 'author' %}
            <button type="button" id="loadImage">Загрузить</button>
            <button type="button" id="prevImage"><---</button>
            <button type="button" id="nextImage">---></button>
            <button type="button" id="saveProject">Сохранить</button>
            <a href="{% url 'send_test' %}?test_id={{ test_id }}">Отправить</a>
        {% endif %}
    </form>
    <div id="imageContainer"></div>
    <input type="file" id="imageInput" accept="image/png" multiple style="display: none;">
    <input type="file" id="loadTestInput" accept=".json" style="display: none;">

    <!-- Модальное окно для ввода названия теста -->
    <div id="testNameModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Введите название теста</h2>
            <input type="text" id="testNameInput" placeholder="Название теста">
            <button id="saveTestNameButton">Сохранить</button>
        </div>
    </div>

    <script>
        let imageLabels = [];
        let currentImageIndex = -1;
        const imageContainer = document.getElementById('imageContainer');
        const loadImageButton = document.getElementById('loadImage');
        const prevImageButton = document.getElementById('prevImage');
        const nextImageButton = document.getElementById('nextImage');
        const saveProjectButton = document.getElementById('saveProject');
        const imageInput = document.getElementById('imageInput');
        let startTime = null;
        let endTime = null;

        {% if user_role == 'author' %}
            loadImageButton.addEventListener('click', () => imageInput.click());
            prevImageButton.addEventListener('click', prevImage);
            nextImageButton.addEventListener('click', nextImage);
            saveProjectButton.addEventListener('click', () => {
            modal.style.display = 'block';
        });
        {% endif %}

        // Модальное окно
        const modal = document.getElementById('testNameModal');
        const testNameInput = document.getElementById('testNameInput');
        const saveTestNameButton = document.getElementById('saveTestNameButton');
        const closeModalButton = document.getElementsByClassName('close')[0];

        closeModalButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });

        saveTestNameButton.addEventListener('click', () => {
            const testName = testNameInput.value.trim();
            if (testName) {
                saveProject(testName);
                modal.style.display = 'none';
            } else {
                alert('Введите название теста');
            }
        });

        // Проверка наличия данных теста с сервера
        {% if test_data %}
        const testData = JSON.parse('{{ test_data|escapejs }}');
        loadProject(testData);
        {% endif %}

        function loadProject(data) {
            imageLabels = data.map(item => {
                const img = new Image();
                img.src = 'data:image/png;base64,' + item.image;
                img.onload = () => {
                    renderCurrentImage();
                };
                return { img, rectangles: item.rectangles, points: item.points };
            });
            currentImageIndex = 0;
            renderCurrentImage();
        }

        imageInput.addEventListener('change', (e) => {
            const files = e.target.files;
            if (files.length > 0) {
                for (const file of files) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const img = new Image();
                        img.src = e.target.result;
                        img.onload = () => {
                            addImageLabel(img, e.target.result);
                        };
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        function addImageLabel(img, imageData) {
            imageLabels.push({ img, imageBase64: imageData.split(',')[1], rectangles: [], points: [] });
            if (currentImageIndex !== -1) {
                imageLabels[currentImageIndex].img.style.display = 'none';
            }
            currentImageIndex = imageLabels.length - 1;
            renderCurrentImage();
        }

        function renderCurrentImage() {
            if (currentImageIndex === -1) return;

            if (currentImageIndex === 0) {
                startTime = new Date();
                endTime = null;
            }

            imageContainer.innerHTML = '';
            const currentLabel = imageLabels[currentImageIndex];
            imageContainer.appendChild(currentLabel.img);

            currentLabel.img.style.display = 'block';
            currentLabel.img.addEventListener('mousedown', onMouseDown);
            currentLabel.img.addEventListener('mouseup', onMouseUp);
            currentLabel.img.addEventListener('mousemove', onMouseMove);
            currentLabel.img.addEventListener('dragstart', (e) => e.preventDefault());

            drawAnnotations(currentLabel);
        }

        function drawAnnotations(label) {
            {% if user_role == 'author' %}
                label.rectangles.forEach(rect => {
                    const rectDiv = document.createElement('div');
                    rectDiv.className = 'rectangle';
                    rectDiv.style.left = `${rect.left}px`;
                    rectDiv.style.top = `${rect.top}px`;
                    rectDiv.style.width = `${rect.width}px`;
                    rectDiv.style.height = `${rect.height}px`;
                    imageContainer.appendChild(rectDiv);
                });
            {% endif %}

            {% if user_role == 'tester' %}
                if (!endTime)
                {
                    label.points.forEach(point => {
                        const pointDiv = document.createElement('div');
                        pointDiv.className = 'point';
                        pointDiv.style.left = `${point.x - 4}px`;
                        pointDiv.style.top = `${point.y - 4}px`;
                        imageContainer.appendChild(pointDiv);
                    });
                }
            {% endif %}
        }

        let drawing = false;
        let startX, startY;
        let currentRectDiv = null;

        function onMouseDown(e) {
            {% if user_role == 'author' %}
                drawing = true;
                startX = e.offsetX;
                startY = e.offsetY;
                currentRectDiv = document.createElement('div');
                currentRectDiv.className = 'rectangle';
                currentRectDiv.style.left = `${startX}px`;
                currentRectDiv.style.top = `${startY}px`;
                imageContainer.appendChild(currentRectDiv);
            {% endif %}

            {% if user_role == 'tester' %}
                const point = { x: e.offsetX, y: e.offsetY };
                imageLabels[currentImageIndex].points.push(point);
                drawAnnotations(imageLabels[currentImageIndex]);
                if (isPointInRectangles(point, imageLabels[currentImageIndex].rectangles)) {
                    nextImage();
                }
                if ((currentImageIndex >= imageLabels.length - 1) && (!endTime)) {
                    endTest();
                }
            {% endif %}
        }

        function isPointInRectangles(point, rectangles) {
            return rectangles.some(rect => {
                return point.x >= rect.left &&
                       point.x <= rect.left + rect.width &&
                       point.y >= rect.top &&
                       point.y <= rect.top + rect.height;
            });
        }

        function onMouseMove(e) {
            {% if user_role == 'author' %}
                if (drawing) {
                    const currentX = e.offsetX;
                    const currentY = e.offsetY;
                    currentRectDiv.style.left = `${Math.min(startX, currentX)}px`;
                    currentRectDiv.style.top = `${Math.min(startY, currentY)}px`;
                    currentRectDiv.style.width = `${Math.abs(currentX - startX)}px`;
                    currentRectDiv.style.height = `${Math.abs(currentY - startY)}px`;
                }
            {% endif %}
        }

        function onMouseUp(e) {
            {% if user_role == 'author' %}
                if (drawing) {
                    drawing = false;
                    const rect = {
                        left: parseInt(currentRectDiv.style.left),
                        top: parseInt(currentRectDiv.style.top),
                        width: parseInt(currentRectDiv.style.width),
                        height: parseInt(currentRectDiv.style.height)
                    };
                    imageLabels[currentImageIndex].rectangles.push(rect);
                    currentRectDiv = null;
                }
            {% endif %}
        }

        function prevImage() {
            if (currentImageIndex > 0) {
                currentImageIndex--;
                renderCurrentImage();
            }
        }

        function nextImage() {
            if (currentImageIndex < imageLabels.length - 1) {
                currentImageIndex++;
                renderCurrentImage();
            }
        }

         function endTest() {
            endTime = new Date();

            const testResult = {
                start_time: startTime.toISOString(),
                end_time: endTime.toISOString(),
                test_id: "{{test_id}}"
            };

            fetch("{% url 'save_test_results' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify(testResult)
            });
            alert('Тест пройден!');
        }

        function saveProject(testName) {
            const data = imageLabels.map(label => {
                return {
                    image: label.imageBase64,
                    rectangles: label.rectangles,
                    points: label.points
                };
            });

            fetch("{% url 'save_test' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ name: testName, data })
            })
            .then(response => response.json())
            .then(result => {
                if (result.status === 'success') {
                    alert('Project saved successfully.');
                } else {
                    alert('Error saving project: ' + result.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error saving project.');
            });
        }
    </script>
</body>
</html>
