<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор метода тестирования</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tests/create_test.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="back-button" onclick="window.location.href='{% url 'personal_account' %}'">&larr;{{ user_name }}</div>
    <div class="container">
        <div class="button-grid">
            <button class="button">
                <div class="circle prototype"></div>
                Прототип
            </button>
            <button class="button" onclick="window.location.href='{% url 'ab_test' %}'">
                <div class="circle ab-test"></div>
                A/B тест
            </button>
            <button class="button">
                <div class="circle first-click"></div>
                Первый клик
            </button>
            <button class="button">
                <div class="circle survey"></div>
                Опрос
            </button>
            <button class="button">
                <div class="circle preferences"></div>
                Предпочтения
            </button>
            <button class="button">
                <div class="circle figma"></div>
                Figma
            </button>
        </div>
    </div>
</body>
</html>
