<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tests</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tests/my_tests.css' %}">
</head>
<body>
    <h1>Мои тесты</h1>
    <a href="{% url 'home' %}">Вернуться</a>
    <ul>
        {% for test in tests %}
            <li>
                <a href="{% url 'ab_test' %}?test_id={{ test.id }}">{{ test.name }}</a>
                <a href="{% url 'test_results_detail' %}?test_id={{ test.id }}">Результаты</a>
            </li>
        {% empty %}
            <li>Тесты не найдены.</li>
        {% endfor %}
    </ul>
</body>
</html>
