<!-- templates/create_team.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание команды</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/users/create_team.css' %}">
</head>
<body>
    <h1>Создание команды</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Создать команду</button>
    </form>
    <a href="{% url 'teams' %}">Назад к списку команд</a>
</body>
</html>
