<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Состав команды</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/users/teams/team_detail.css' %}">
</head>
<body>
    <h1>{{ team.name }}</h1>
    <p>Тестировщики:</p>
    <ul>
        {% for tester in team.testers.all %}
            <li>{{ tester.username }}</li>
        {% empty %}
            <li>Нет тестировщиков.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'teams' %}">Назад к списку команд</a>
</body>
</html>
