<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список команд</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/users/teams/team_list.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script>
        function confirmDelete(teamId) {
            const modal = document.getElementById('deleteModal');
            const deleteButton = document.getElementById('confirmDeleteButton');
            deleteButton.setAttribute('data-team-id', teamId);
            modal.style.display = 'block';
        }

        function closeModal() {
            const modal = document.getElementById('deleteModal');
            modal.style.display = 'none';
        }

        function deleteTeam() {
            const deleteButton = document.getElementById('confirmDeleteButton');
            const teamId = deleteButton.getAttribute('data-team-id');
            const deleteUrl = `{% url 'delete_team' 0 %}`.replace('/0/', `/${teamId}/`);
            window.location.href = deleteUrl;
        }
    </script>
</head>
<body>
    <a href="{% url 'create_team' %}">Создать</a>
    <h1>Список команд</h1>
    <a href="{% url 'personal_account' %}">Вернуться</a>
    <ul>
        {% for team in teams %}
            <li>
                <span>{{ team.name }} (Лидер: {{ team.leader.username }})</span>
                <a href="{% url 'team_detail' team.id %}">Подробнее</a>
                {% if  team.leader == request.user %}
                <a onclick="confirmDelete({{ team.id }})">🗑️</a>
                {% endif %}
            </li>
        {% empty %}
            <li>Команды не найдены.</li>
        {% endfor %}
    </ul>

    <!-- Модальное окно для подтверждения удаления -->
    <div id="deleteModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Вы уверены, что хотите удалить эту команду?</h2>
            <button id="confirmDeleteButton" onclick="deleteTeam()">Удалить</button>
            <button onclick="closeModal()">Отмена</button>
        </div>
    </div>
</body>
</html>
