<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Состав команды</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/users/teams/team_detail.css' %}">
</head>
<body>
    <h1>Команда: {{ team.name }}</h1>

    <h2>Тестировщики:</h2>
    <ul class="team-list">
        {% for tester in team.testers.all %}
            <li class="team-member">
                <span>{{ tester.username }}</span>
                <a href="{% url 'messages' recipient_id=tester.id %}" class="btn">Написать сообщение</a>
            </li>
        {% empty %}
            <li>Нет тестировщиков.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'teams' %}" class="back-btn">Назад к списку команд</a>
</body>
</html>
