<html>
  <head>
    <style>
     body {
      color: pink;
      text-align: center;
      }

    </style>
  </head>
  <body>

    <h1>Привет, {{ user.username|default:'Guest' }}</h1>

    <p> Добро пожаловать!</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'login' %}">Выход</a>

          <a href="{% url 'ab_test' %}">A/B тестирование</a>

      {% else %}
          <a href="{% url 'signup' %}">Регистрация</a>
          <a href="{% url 'login' %}">Авторизация</a>
      {% endif %}
  </div>

  </body>
</html>