<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Method Selection</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/users/home.css' %}">
</head>
<body>
    <div class="back-button" onclick="window.location.href='{% url 'login' %}'">&larr;</div>
    <div class="container">
        <div class="title">Выберете метод тестирования</div>
        <div class="button-grid">
            <button class="button">
                <div class="circle prototype"></div>
                Прототип
            </button>
            <button class="button" onclick="window.location.href='{% url 'ab_test' %}'">
                <div class="circle ab-test"></div>
                A/B тест
            </button>
            <button class="button">
                <div class="circle first-click"></div>
                Первый клик
            </button>
            <button class="button">
                <div class="circle survey"></div>
                Опрос
            </button>
            <button class="button">
                <div class="circle preferences"></div>
                Предпочтения
            </button>
            <button class="button">
                <div class="circle figma"></div>
                Figma
            </button>
        </div>
    </div>
</body>
</html>
